
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Agile Squads | Missions</title>

  <link rel="shortcut icon" href="<%= require('../assets/favicon.png') %>" type="image/png"/>

  <%= require('html-loader!./partials/ga.html') %>
</head>
<body class="text-secondary">

  <%= require('html-loader!./partials/navigation.html') %>

  <div class="container py-5 mt-5">
    <header class="text-center text-white">
      <h1 class="display-4 text-primary">Guardian Squad</h1>
    </header>

    <div class="row py-5">
      <div class="col-lg-8 col-md-12 col-sm-12 mx-auto">
        <p class="font-weight-light">
          During each Mission Cycle there is only one Guardian Squad, a small group of people
          with one core Mission, one sacred duty:
        </p>
        <p>
          "Protect the Hero Squads from losing focus on succeeding their missions."
        </p>
        <p class="font-weight-light">
          Being a Guardian should be a rotating role, giving equal opportunities to everyone
          to join Hero Missions. Guardian Squad is actually a support team, working on incoming bugs,
          support engineering or other ad-hoc requests that usually span to no more than a
          few days.
        </p>
        <p class="font-weight-light">
          Guardian Squad is the only constant force in Agile Squads and usually all work items
          of this team, could be summarized in a Guardian Backlog, that is constantly consumed
          from cycle to cycle, even if the human ingredients of this team changes.
        </p>

        <p class="text-center">
          <a class="btn btn-outline-primary font-weight-light" href="/">Back to Homepage</a>
        </p>
      </div>
    </div>
  </div>

  <%= require('html-loader!./partials/footer.html') %>

</body>
</html>
