
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Agile Squads | Missions</title>

  <link rel="shortcut icon" href="<%= require('../assets/favicon.png') %>" type="image/png"/>

  <%= require('html-loader!./partials/ga.html') %>
</head>
<body class="text-secondary">

  <%= require('html-loader!./partials/navigation.html') %>

  <div class="container py-5 mt-5 font-weight-light">
    <header class="text-center text-white">
      <h1 class="display-4 text-primary">Hero Squads</h1>
    </header>

    <div class="row py-5">
      <div class="col-lg-8 col-md-12 col-sm-12 mx-auto">
        <p class="font-weight-light">
          Hero Squads are a group of people working closely and focused together on a common goal.
          Hero Squads are formed during Mission Briefing ceremony. It is highly encouraged that
          Engineers are shuffled when a new Hero Squad is formed, based on the personal interest,
          in order to maximize the values of challenge and learning.
        </p>

        <p class="font-weight-light">
          Hero Squads should be motivated to bring their best self to fullfil a Mission and be trusted
          that will self-organize to make this happen. Self-organization and safety will let Guest Leadership
          to emerge for the duration of the Mission.
        </p>

        <p class="font-weight-light">
          A Hero Squad is dismissed when their Mission is over, stalled or aborted. Their human capacity
          may grow or shrink based on the state of progress, in case a Mission may need to span across
          multiple cycles.
        </p>

        <p class="text-center">
          <a class="btn btn-outline-primary font-weight-light" href="/">Back to Homepage</a>
        </p>
      </div>
    </div>
  </div>

  <%= require('html-loader!./partials/footer.html') %>

</body>
</html>
