<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Agile Squads</title>

  <meta name="description" content="The liberating Agile framework for mature software teams"/>
  <meta name="keywords" content="agile,squads,framework"/>

  <link rel="shortcut icon" href="<%= require('../assets/favicon.png') %>" type="image/png"/>

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Agile Squads" />
  <meta name="twitter:description" content="The liberating Agile framework for mature software teams" />
  <meta name="twitter:url" content="https://agilesquads.org" />
  <meta name="twitter:image" content="https://agilesquads.org/<%= require('../assets/fb-share.png') %>" />

  <!-- Open Graph -->
  <meta property="og:url" content="https://agilesquads.org" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Agile Squads" />
  <meta property="og:title" content="The liberating Agile framework for mature software teams" />
  <meta property="og:description" content="Agile Squads is an open-source Agile framework for small to medium teams building software" />
  <meta property="og:image" content="https://agilesquads.org/<%= require('../assets/fb-share.png') %>" />

  <%= require('html-loader!./partials/ga.html') %>
</head>
<body class="text-secondary">

  <%= require('html-loader!./partials/navigation.html') %>
  <%= require('html-loader!./partials/home/hero.html') %>
  <%= require('html-loader!./partials/home/quickstart.html') %>
  <%= require('html-loader!./partials/home/summary.html') %>
  <%= require('html-loader!./partials/home/values.html') %>
  <%= require('html-loader!./partials/home/about.html') %>
  <%= require('html-loader!./partials/home/whoisusing.html') %>
  <%= require('html-loader!./partials/footer.html') %>

</body>
</html>
