<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Agile Squads</title>
</head>
<body class="text-secondary">

  <%= require('html-loader!./partials/navigation.html') %>
  <%= require('html-loader!./partials/home/hero.html') %>
  <%= require('html-loader!./partials/home/quickstart.html') %>
  <%= require('html-loader!./partials/home/summary.html') %>
  <%= require('html-loader!./partials/home/values.html') %>
  <%= require('html-loader!./partials/home/about.html') %>
  <%= require('html-loader!./partials/home/whoisusing.html') %>
  <%= require('html-loader!./partials/home/footer.html') %>

</body>
</html>
