
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Agile Squads | Missions</title>

  <link rel="shortcut icon" href="<%= require('../assets/favicon.png') %>" type="image/png"/>

  <%= require('html-loader!./partials/ga.html') %>
</head>
<body class="text-secondary">

  <%= require('html-loader!./partials/navigation.html') %>

  <div class="container py-5 mt-5 font-weight-light">
    <header class="text-center text-white">
      <h1 class="display-4 text-primary">Missions</h1>
    </header>

    <div class="row py-5">
      <div class="col-lg-8 col-md-12 col-sm-12 mx-auto">
        <h2>Definition</h2>
        <p class="font-weight-light">
          A Mission is a common consensus between the Product and a Hero Squad that describes
          the work to be done during a Mission Cycle. A Mission has the following characteristics:
          <ul>
            <li>Defines a clear GOAL</li>
            <li>Explains WHY it is important</li>
            <li>Describes the CONSTRAINTS (e.g. time, scope, budget)</li>
            <li>Sets an expected OUTCOME</li>
          </ul>
        </p>
        <h2>Primary and secondary objectives</h2>
        <p class="font-weight-light">
          A Mission may be described using maturity levels. Maturity levels are
          important as they help Squads focus on the most important elements first,
          and mature as development and/or investment to the effort continues.
        </p>
        <p class="font-weight-light">
          The best way to describe maturity levels of a feature in Agile Squads is
          by setting one Primary objective and a set of Secondary objectives.
          The Primary objective is the first and most important milestone for a Hero Squad
          to reach. Should they succeed on a Primary objective within a Mission Cycle, they
          may continue work, conquering the Secondary objectives.
        </p>

        <p class="text-center">
          <a class="btn btn-outline-primary font-weight-light" href="/">Back to Homepage</a>
        </p>
      </div>
    </div>
  </div>

  <%= require('html-loader!./partials/footer.html') %>

</body>
</html>
