
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Agile Squads | Missions</title>

  <link rel="shortcut icon" href="<%= require('../assets/favicon.png') %>" type="image/png"/>

  <%= require('html-loader!./partials/ga.html') %>
</head>
<body class="text-secondary">

  <%= require('html-loader!./partials/navigation.html') %>

  <div class="container py-5 mt-5 font-weight-light">
    <header class="text-center text-white">
      <h1 class="display-4 text-primary">Missions</h1>
    </header>

    <div class="row py-5">
      <div class="col-lg-8 col-md-12 col-sm-12 mx-auto">
        <p class="font-weight-light">
        </p>

        <p class="text-center">
          <a class="btn btn-outline-primary font-weight-light" href="/">Back to Homepage</a>
        </p>
      </div>
    </div>
  </div>

  <%= require('html-loader!./partials/footer.html') %>

</body>
</html>
