<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Agile Squads</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#quick-starting-guide">Guides</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle as-no-outline" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-hasopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/outcome-vs-output">Outcome vs Output</a>
            <a class="dropdown-item" href="https://youtu.be/KB95k0Y9Tsc" target="_blank">Guest Leadership</a>
          </div>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="#">Add-ons</a>
        </li>
        -->
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/agilesquads/agilesquads.github.io" target="_blank"><img src="../../assets/github.svg" alt="Github repo"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
