<div class="as-card">
  <div class="container py-3 mt-5">

    <h1 class="my-4">About</h1>

    <div class="row">
      <div class="col as-sidebar">
        <img class="rounded w-100" src="../../../assets/contributors/nikos-vasileiou.jpg">
      </div>
      <div class="col text-left">
        <p>
          <span class="text-primary">Nikos Vasileiou</span><br>
          <small>CTO @ Transifex</small><br>
          <a href="https://www.linkedin.com/in/nvasileiou" target="_blank">
            <img class="my-1" style="width: 20px;" src="../../../assets/linkedin.svg">
          </a>
          <br>
        </p>
      </div>
    </div>

    <p class="mt-4 mb-5 text-secondary font-weight-light">
      Living in a world where popular Agile frameworks, such as Scrum, are becoming a commodity, how can we do better? Agile Squads is
      the outcome of a journey to break the well-known boundaries, find the
      essence of agility and distill the core values it represents. Hopefully
      it will act as an inspirational axis for other great ideas to emerge.
    </p>

    <h1 class="my-4">Contributors</h1>

    <div class="row">

      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="row">
          <div class="col as-sidebar">
            <img class="rounded w-100" src="../../../assets/contributors/thanos-kolovos.jpg">
          </div>
          <div class="col text-left">
            <p>
              <span class="text-primary">Thanos Kolovos</span><br>
              <small>Director of Engineering @ Transifex</small><br>
              <a href="https://www.linkedin.com/in/thanos-kolovos-95110592/" target="_blank">
                <img class="my-1" style="width: 20px;" src="../../../assets/linkedin.svg">
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="row">
          <div class="col as-sidebar">
            <img class="rounded w-100" src="../../../assets/contributors/mike-giannakopoulos.jpg">
          </div>
          <div class="col text-left">
            <p>
              <span class="text-primary">Mike Giannakopoulos</span><br>
              <small>Staff Product Manager @ Hack The Box</small><br>
              <a href="https://www.linkedin.com/in/mike-giannakopoulos-bb6a688/" target="_blank">
                <img class="my-1" style="width: 20px;" src="../../../assets/linkedin.svg">
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="row">
          <div class="col as-sidebar">
            <img class="rounded w-100" src="../../../assets/contributors/dimitrios-bendilas.jpg">
          </div>
          <div class="col text-left">
            <p>
              <span class="text-primary">Dimitrios Bendilas</span><br>
              <small>Engineering Manager @ Numan</small><br>
              <a href="https://www.linkedin.com/in/dimitriosbendilas/" target="_blank">
                <img class="my-1" style="width: 20px;" src="../../../assets/linkedin.svg">
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="row">
          <div class="col as-sidebar">
            <img class="rounded w-100" src="../../../assets/contributors/maya-toutountzi.jpg">
          </div>
          <div class="col text-left">
            <p>
              <span class="text-primary">Maya Toutountzi</span><br>
              <small>Head of Product @ Transifex</small><br>
              <a href="https://www.linkedin.com/in/maria-toutountzi-a069a74b/" target="_blank">
                <img class="my-1" style="width: 20px;" src="../../../assets/linkedin.svg">
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="row">
          <div class="col as-sidebar">
            <img class="rounded w-100" src="../../../assets/contributors/sergios-aftsidis.jpg">
          </div>
          <div class="col text-left">
            <p>
              <span class="text-primary">Sergios Aftsidis</span><br>
              <small>Senior Engineering @ Coconut</small><br>
              <a href="https://www.linkedin.com/in/saftsidis/" target="_blank">
                <img class="my-1" style="width: 20px;" src="../../../assets/linkedin.svg">
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="row">
          <div class="col as-sidebar">
            <img class="rounded w-100" src="../../../assets/contributors/dimitris-koufakis.jpg">
          </div>
          <div class="col text-left">
            <p>
              <span class="text-primary">Dimitris Koufakis</span><br>
              <small>Senior Product Manager @ Beat</small><br>
              <a href="https://www.linkedin.com/in/dimitriskoufakis/" target="_blank">
                <img class="my-1" style="width: 20px;" src="../../../assets/linkedin.svg">
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="row">
          <div class="col as-sidebar">
            <img class="rounded w-100" src="../../../assets/contributors/maria-kiousi.jpg">
          </div>
          <div class="col text-left">
            <p>
              <span class="text-primary">Maria Kiousi</span><br>
              <small>Product Manager @ Transifex</small><br>
              <a href="https://www.linkedin.com/in/maria-kiousi-38919aa7/" target="_blank">
                <img class="my-1" style="width: 20px;" src="../../../assets/linkedin.svg">
              </a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
