<div class="pt-5 pb-3">

  <div class="container text-left">
    <div class="row">
      <div class="col">
        <p>Links</p>
        <ul class="list-unstyled">
          <li><a href="https://heartofagile.com" target="_blank"><small>Heart of Agile</small></a></li>
          <li><a href="http://modernagile.org" target="_blank"><small>Modern Agile</small></a></li>
          <li><a href="https://github.com/agilesquads/agilesquads.github.io" target="_blank"><small>Open source</small></a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
