<div class="jumbotron jumbotron-fluid bg-transparent">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-6 col-md-12 text-center">
        <h1 class="display-2 text-primary">Agile Squads</h1>
        <p class="lead text-secondary">The liberating Agile framework for mature software teams</p>
      </div>
      <div class="col-lg-6 col-md-12 text-center">
        <img class="w-100 cursor-pointer js-hexagon" src="../../../assets/hexagon-closed.svg">
      </div>
    </div>
    <div class="row align-items-center d-none d-lg-block">
      <div class="col-12 text-center">
        <img class="js-scroll-down" style="width: 90px;" src="../../../assets/scroll-down.svg">
      </div>
    </div>
  </div>
</div>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class="text-primary">What is it about?</h2>
    <p>
      Agile Squads is an open-source Agile framework for small to medium teams building software.
    </p>
    <p>
      Target audience are companies walking the Agile path on top of well-established and proven
      frameworks, such as Scrum, being qurious enough to explore more liberating and lightweight structures, in
      order to build a working enviroment were people are challenged more and measure customer outcome, over
      processes, team velocity and feature quantity.
    </p>
    <p>
      The framework consists of a lightweight core, which can be extended through framework add-ons.
    </p>
  </div>
</section>
