<div class="as-summary pb-7" id="quick-starting-guide">
  <div class="container c-timeline position-relative">

    <h1 class="my-4">Quick starting guide</h1>

    <div class="row my-5 c-timeline__item">
      <div class="col-lg-6 col-md-12 mb-3 pr-4">
        <h3 class="text-primary mb-3">Back to basics</h3>
        <p class="font-weight-light">
          Doing plannings, daily standups and retrospective ceremonies does not make a company Agile.
          Agile is a mindshift and it's hard... many companies try to become Agile only to fail in the process and get no results.
        </p>
        <p class="font-weight-light mb-4">
          Studying modern movements, such as Heart of Agile and Modern Agile, are cornerstones to getting
          the gist of what the Agile mindset represents.
        </p>
        <a class="btn btn-outline-primary font-weight-light" href="https://heartofagile.com" target="_blank">More about Heart of Agile</a>
        <a class="btn btn-outline-primary font-weight-light" href="http://modernagile.org" target="_blank">More about Modern Agile</a>
      </div>
      <div class="col-lg-6 col-md-12 d-flex justify-content-center text-md-left pl-4">
        <figure class="w-50 mr-5">
          <img class="img-fluid" src="../../../assets/heartofagile.png" alt="Heart of Agile">
        </figure>
        <figure class="w-50">
          <img class="img-fluid" src="../../../assets/modernagile.svg" alt="Modern Agile">
        </figure>
      </div>
    </div>

    <div class="row my-7 c-timeline__item">
      <div class="col-lg-6 col-md-12 mb-3 pr-4">
        <h3 class="text-primary mb-3">The Product Squad</h3>
        <p class="font-weight-light">
          Product Managers/Owners are united together as a core team,
          versus being distributed on various (Scrum) teams.
          Working closely together, they can focus on product strategy,
          company goals and outcomes, versus distributing work in
          fixed teams with limitations in engineering and people skills.
        </p>
        <p class="as-hashtag">#strategy #direction #priority</p>
        <a class="btn btn-outline-primary disabled font-weight-light" href="#" target="_blank">More about Outcome vs Output</a>
      </div>
      <div class="col-lg-6 col-md-12 d-flex justify-content-center text-md-left pl-4">
        <figure class="w-100">
          <img class="img-fluid" src="../../../assets/product-squad.svg" alt="Guardian Squad">
        </figure>
      </div>
    </div>

    <div class="row my-7 c-timeline__item">
      <div class="col-lg-6 col-md-12 mb-3 pr-4">
        <h3 class="text-primary mb-3">The Engineering talent pool</h3>
        <p class="font-weight-light">
          Instead of using people resources to form specific fixed teams (e.g. Scrum teams),
          engineers are united under a common pool of engineering talent,
          cultivating equal opportunities, knowledge sharing and guest leadership.
        </p>
        <p class="as-hashtag">#opportunity #learning</p>
        <a class="btn btn-outline-primary disabled font-weight-light" href="http://modernagile.org" target="_blank">More about Guest Leadership</a>
      </div>
      <div class="col-lg-6 col-md-12 d-flex justify-content-center text-md-left pl-4">
        <figure class="w-100">
          <img class="img-fluid" src="../../../assets/engineering-talent-pool.svg" alt="Guardian Squad">
        </figure>
      </div>
    </div>

    <div class="row my-7 c-timeline__item">
      <div class="col-lg-6 col-md-12 mb-3 pr-4">
        <h3 class="text-primary mb-3">The Missions</h3>
        <p class="font-weight-light">
          Product is working together as a coherent team and define a set of Missions
          that are aligned with company goals,
          focusing on desired scope and expected outcome.
        </p>
        <p class="font-weight-light">
          They answer questions such as "what do we want to achieve as a company in the next couple of months",
          "what are the battles we should pick".
        </p>
        <p class="as-hashtag">#value #customer #importance</p>
        <a class="btn btn-outline-primary disabled font-weight-light" href="http://modernagile.org" target="_blank">What is a Mission?</a>
      </div>
      <div class="col-lg-6 col-md-12 d-flex justify-content-center text-md-left pl-4">
        <figure class="w-100">
          <img class="img-fluid" src="../../../assets/missions.svg" alt="Guardian Squad">
        </figure>
      </div>
    </div>

    <div class="row my-7 c-timeline__item">
      <div class="col-lg-6 col-md-12 mb-3 pr-4">
        <h3 class="text-primary mb-3">The Hero Squads</h3>
        <p class="font-weight-light">
          Once Missions have been defined, they are pitched to the Engineering talent pool
          and ad-hoc teams are formed, the Hero Squads, with one sole purpose:
          fulfill the Missions by maintaining focus on work to be done.
          A Hero Squad is dismissed when the desired outcome has been achieved.
        </p>
        <p class="as-hashtag">#focus #delivery</p>
        <a class="btn btn-outline-primary disabled font-weight-light" href="http://modernagile.org" target="_blank">More about Hero Squads</a>
      </div>
      <div class="col-lg-6 col-md-12 d-flex justify-content-center text-md-left pl-4">
        <figure class="w-100">
          <img class="img-fluid" src="../../../assets/hero-squads.svg" alt="Guardian Squad">
        </figure>
      </div>
    </div>

    <div class="row my-7 c-timeline__item">
      <div class="col-lg-6 col-md-12 mb-3 pr-4">
        <h3 class="text-primary mb-3">The Guardian Squad</h3>
        <p class="font-weight-light">
          In the real world, engineering teams are fighting between delivery of new features, management of bugs,
          technical debt and customer support.
          The Guardian Squad is a rotating team formed by the Engineering talent pool
          with one holy duty: protect the Hero Squads from losing focus.
          They act as the shield against context switching, they are the protectors of the Missions.
        </p>
        <p class="as-hashtag">#maintenance #support</p>
        <a class="btn btn-outline-primary disabled font-weight-light" href="http://modernagile.org" target="_blank">More about Guardian Squad</a>
      </div>
      <div class="col-lg-6 col-md-12 d-flex justify-content-center text-md-left pl-4">
        <figure class="w-100">
          <img class="img-fluid" src="../../../assets/guardian-squad.svg" alt="Guardian Squad">
        </figure>
      </div>
    </div>

    <div class="row my-7 c-timeline__item">
      <div class="col-lg-6 col-md-12 mb-3 pr-4">
        <h3 class="text-primary mb-3">Mission cycles</h3>
        <p class="font-weight-light">
          Agile Squads work in 1-6 week cycles.
          Each cycle starts with a Mission briefing event and ends with a Mission debriefing event.
        </p>
        <p class="font-weight-light mb-4">
          At the end of every cycle, the Product Squad evaluates the progress
          and makes decisions on whether a Mission should continue to the next cycle, should be aborted
          or new Missions should
          be pitched to the Engineering talent pool.
        </p>
        <a class="btn btn-outline-primary disabled font-weight-light" href="http://modernagile.org" target="_blank">More about Mission Cycles</a>
      </div>
      <div class="col-lg-6 col-md-12 d-flex justify-content-center text-md-left pl-4">
        <figure class="w-100">
          <img class="img-fluid" src="../../../assets/mission-cycle.svg" alt="Guardian Squad">
        </figure>
      </div>
    </div>

    <div class="row my-7 c-timeline__item">
      <div class="col-lg-6 col-md-12 mb-3 pr-4">
        <h3 class="text-primary mb-3">Other departments</h3>
        <p class="font-weight-light">
          Converting a Mission to a successful outcome, versus a meaningless output, requires effort from other
          company departments as well, such as People Operations, Customer Success, Demand Generation and Sales.
        </p>
        <p class="font-weight-light">
          The Product Squad is the beating heart where such efforts span out of the building phase and
          proper company actions are triggered in order for a Mission to reach the expected outcome,
          serving customer needs.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 d-flex justify-content-center text-md-left pl-4">
        <figure class="w-100">
          <img class="img-fluid" src="../../../assets/other-departments.svg" alt="Guardian Squad">
        </figure>
      </div>
    </div>

  </div>
</div>
