<div class="container">

  <h1 class="my-4">Framework values</h1>

  <div class="row">
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card as-card h-100">
        <div class="card-body">
          <h4 class="card-title text-primary">Purpose</h4>
          <p class="card-text text-secondary">
            People become united when they are fighting for a common goal. A sense of purpose is the driving factor
            for building awesome teams.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card as-card h-100">
        <div class="card-body">
          <h4 class="card-title text-primary">Challenge</h4>
          <p class="card-text text-secondary">
            Working in a challenging environment keeps people motivated to grow and improve their skills.
            The sense of accomplishment and achievement is one of the key factors for mainting top talent.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card as-card h-100">
        <div class="card-body">
          <h4 class="card-title text-primary">Focus</h4>
          <p class="card-text text-secondary">
            Maintaining focus can make wonders when time is a risk factor. The goals of a company can
            move faster by doing less things sequentially than fighting on too many fronts at the same time.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card as-card h-100">
        <div class="card-body">
          <h4 class="card-title text-primary">Safety</h4>
          <p class="card-text text-secondary">
            Phychological safety is key for building self-organizing and self-motivated teams.
            Mistakes will happen, bad decisions will be taken, projects might fail
            but this is part of the game and we are all in this together.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card as-card h-100">
        <div class="card-body">
          <h4 class="card-title text-primary">Collaboration</h4>
          <p class="card-text text-secondary">
            Good collaboration eliminates hats and roles from people working together on a common goal.
            What matters, is a good combination of skillset, a purpose and the will to make it happen.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card as-card h-100">
        <div class="card-body">
          <h4 class="card-title text-primary">Learning</h4>
          <p class="card-text text-secondary">
            Teams are thriving in learning organizations. Spreading the knowledge all around
            and giving equal opportunities to everyone, can establish a long running company.
          </p>
        </div>
      </div>
    </div>

  </div>

</div>
